{{layout "org.wso2.uuf.base.main"}}
{{title @app.config.appName}}
{{#fillZone "content"}}
    {{css "css/style.css"}}
    <h2>Processes</h2>
    <h4></h4>
    <br class="spacer">

    {{fragment "process-details"}}

{{/fillZone}}