<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.wso2.carbon.bpmn.core.mgt.model.DeploymentMetaDataModelEntity">

    <resultMap type="org.wso2.carbon.bpmn.core.mgt.model.DeploymentMetaDataModelEntity"
               id="selectMetaDataMap">
        <id property="id" column="ID_"/>
        <result property="packageName" column="NAME_"/>
        <result property="tenantID" column="TENANT_ID_"/>
        <result property="checkSum" column="CHECK_SUM_"/>
    </resultMap>

    <!-- Default execution as PREPARED statements -->
    <select id="selectDeploymentMetaDataModel"
            parameterType="map"
            resultMap="selectMetaDataMap">
        select * from ${prefix}BPS_BPMN_DEPLOYMENT_METADATA
        where TENANT_ID_ = #{tenantID}
        and NAME_ = #{packageName}
    </select>
    <select id="selectDeploymentMetaDataModels" resultMap="selectMetaDataMap">
        select * from ${prefix}BPS_BPMN_DEPLOYMENT_METADATA
    </select>

    <insert id="insertDeploymentMetaDataModel"
            parameterType="org.wso2.carbon.bpmn.core.mgt.model.DeploymentMetaDataModelEntity">
        insert into ${prefix}BPS_BPMN_DEPLOYMENT_METADATA (ID_, NAME_, TENANT_ID_, CHECK_SUM_)
        values (#{id}, #{packageName}, #{tenantID}, #{checkSum})
    </insert>

    <update id="updateDeploymentMetaDataModel"
            parameterType="org.wso2.carbon.bpmn.core.mgt.model.DeploymentMetaDataModelEntity">
        update ${prefix}BPS_BPMN_DEPLOYMENT_METADATA
        <set>
            CHECK_SUM_ = #{checkSum}
        </set>
        where NAME_=#{packageName} and TENANT_ID_ = #{tenantID}
    </update>

    <delete id="deleteDeploymentMetaDataModel"
            parameterType="org.wso2.carbon.bpmn.core.mgt.model.DeploymentMetaDataModelEntity">
        delete from ${prefix}BPS_BPMN_DEPLOYMENT_METADATA where NAME_= #{packageName} and TENANT_ID_
        = #{tenantID}
    </delete>

</mapper>



