a.bpmn-icon-link {
    background: no-repeat left top;
    color: #2F7ABD;
    cursor: pointer;
    height: 17px;
    line-height: 17px;
    margin-bottom: 3px;
    margin-top: 5px;
    padding-left: 20px;
    position: relative;
    white-space: nowrap;
    float: none;
    padding-bottom: 2px;
}