a.bpmn-icon-link {
    background: no-repeat left top;
    color: #2F7ABD;
    cursor: pointer;
    height: 17px;
    line-height: 17px;
    margin-bottom: 3px;
    margin-top: 5px;
    padding-left: 20px;
    position: relative;
    white-space: nowrap;
    float: none;
    padding-bottom: 2px;
}
#filter {
    background-image: url(../images/table-header.gif);
    background-position: left bottom;
    background-repeat: repeat-x;
    border: 1px solid #cccccc;
    width: 100%;
    height: 40px;
    vertical-align: middle;
}
#cell {
    vertical-align: middle;
    text-align: center;
    border-right: solid 1px #cccccc;
}
#cellLink {
    padding-left: 20px !important;
    background-repeat: no-repeat;
}
#searchButton {
    background-image: url('../images/search.gif');
    background-repeat: no-repeat;
    background-color: Transparent;
    border: none;
}