/** Login Configuration for the Carbon JAAS module **/

CarbonSecurityBasicConfig {

   org.wso2.carbon.security.jaas.modules.UsernamePasswordLoginModule required;

};

CarbonSecurityJWTConfig {

   org.wso2.carbon.security.jaas.modules.JWTLoginModule required;

};

CarbonSecuritySAML2Config {

   org.wso2.carbon.security.jaas.modules.SAML2LoginModule required;

};